/* Cor da barra de navegação */

.nav-top{
    background-color: #A3E3FF;
}

/* Centralizar imagens no carrossel */
.carousel-inner {
    text-align: center;
  }
  
.carousel-item img {
    margin: 0 auto;         
    max-height: 500px;      
    width: auto;           
    object-fit: contain;    
    display: block;
  }
  
  /* Deixar o footer fixo e visível sem sobrepor conteúdo */
.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  